<div class="container" ng-controller="MainController as login">
		<div class="row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">

			<h1>Login</h1>

				<form name="loginForm"  class="form-sigin" method="post" novalidate ng-submit="login.doLogin()">
					<div class="form-group">
						<label class="control-label">Username</label>
						<input type="text" name="username" class="form-control" required ng-model="login.loginData.username">
					</div>
					<div class="form-group">
						<label class="control-label">Password</label>
						<input type="password" name="password" class="form-control" required ng-model="login.loginData.password">
					</div>
					<div class="form-group">
						<span>
							<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-success">Login</button>
						</span>
					</div>
				</form>
			</div>

		</div>

		

</div>


 